# dependencies
node_modules/
frontend/node_modules/

# PnP and Yarn
frontend/.pnp
frontend/.pnp.js

# Environment variables
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
backend/.env

# Coverage and logs
frontend/coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS system files
frontend/.DS_Store